#mdp-root {
  display: inline-flex;
  vertical-align: middle;
  margin-left: 8px;
  z-index: 2147483000;
}

#mdp-root.mdp-floating {
  position: fixed !important;
  top: 96px !important;
  right: 24px !important;
  margin: 0 !important;
  z-index: 2147483646 !important;
  display: block !important;
}
